p {margin: 5%}
code {font-family: monospace}
body {background: beige}
body{margin: 0}


/* customise these variables if required */
.gallery {
  --spacebetween: 10px;
  --image_height: 300px;
  --image_width: 30vw;
  --gallery_width: 90vw;
  --gallery_highlight: #add8e6;
}

/* -------------- ATTENTION ---------------*/
/* DO NOT TOUCH ANYTHING BELOW THIS NOTICE */
/* --------------------------------------- */

.gallery {
  --gallery_background: transparent;
  --gallery_height: calc(var(--image_height) + 20px);
  --button_color: rgba(0,0,0,0.6);
  --button_width: 50px;
  --button_height: var(--button_width);
  --offset: calc((var(--gallery_width) - var(--image_width)) / 2);
}

/* CONTAINER */
.gallery {
	position: relative;
	width: var(--gallery_width);
	height: var(--gallery_height);
	margin: 20px auto;
	padding: 10px 0;
	background: var(--gallery_background);
  overflow: hidden;
}

/* IMAGE ROW */
.gallery .img_row {
	position: relative;
	height: var(--image_height);
  display: flex;
  justify-content: flex-start;
  transition: left 1s cubic-bezier(0.85, 0.03, 0.15, 0.96) 0s;
}
.gallery .img_row a {
	margin: 0;
	margin-right: var(--spacebetween);
}
.gallery .img_row a:last-child {
	margin-right: 0;
}
.gallery .img_row a img {
	width: var(--image_width);
	height: var(--image_height);
	object-fit: cover;
}


/* NAVBAR ICONS */
.gallery nav.mid {
  display: flex;
  justify-content: center;
	width: 100%;
  padding: 10px 0;
}
.gallery nav.mid div {
  cursor: pointer;
	width: 10px;
	height: 10px;
	background: gray;
	margin-right: .5em;
  border-radius: 50%;
}
.gallery nav.mid div:last-child {
	margin-right: 0;
}
.gallery nav.mid div.current, .gallery nav.mid div:hover {
	background: var(--gallery_highlight);
}

/* PREV AND NEXT BUTTONS */
.gallery nav.prev, .gallery nav.next {
  display: none;
}





/* SETTINGS PANE */

.customisation {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 5%;
}
pre {
  margin: 40px 0;
  padding-top: 0;
  background: white;
}
form {
  display: grid;
  grid-template-columns: 180px 100px;
  grid-template-rows: 2em;
  align-items: center;
}
input[type="text"] {
  height: 1em;
  width: 50px;
  margin: 5px;
  text-align: center;
  padding: 3px;
}
input[type="color"] {
  height: calc(1em + 6px);
  width: 54px;
  margin: 5px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
input[type="submit"] {
  margin: 5px;
  width: 60px;
}
input::placeholder {
  color: #ccc;
}





#examples {
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-top: -3%;
}
#examples img {
  padding: 10px 0;
}





/* RESPONSIVENESS */

@media screen and (min-width: 640px) {

  .customisation {
    flex-direction: row;
  }

  pre {
    margin: 0;
  }

  .gallery nav.prev, .gallery nav.next {
    display: none;
    position: absolute;
    top: 0;
    margin: 0;
    cursor: pointer;
    color: white;
    width: var(--button_width);
    height: var(--button_width);
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
    line-height: var(--button_width);
    background: var(--button_color);
    border-radius: 50%;
    text-align: center;
  }
  .gallery nav.prev {
    top: calc(var(--gallery_height)/2 - var(--button_height)/2);
    left: 10px;
    /* left: calc(var(--offset)/2 - var(--button_width)/2); */
  }
  .gallery nav.next {
    top: calc(var(--gallery_height)/2 - var(--button_height)/2);
    right: 10px;
  }
  .gallery nav.prev:hover, .gallery nav.next:hover {
    color: var(--gallery_highlight);
  }

  #examples {
    justify-content: space-around;
    flex-direction: row;
  }
  #examples img {
    cursor: pointer;
    width: 30%;
  }
  #examples img:hover {
    filter: drop-shadow(8px 8px 10px #111);
  }


}
